<!DOCTYPE html>
<html>
<head>
	<title>Cursos</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	 <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no">
	<!---<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">--->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
 	<!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>--->

</head>

<body>
 <div class="container-fluid">
<header>
	<center><h1>Cursos Educación Continua</h1></center>

</header>
<!--<div class="jumbotron">
</div>-->
<!---<div class="row">
  <div class=".cols-sm-12">
<img src="img/estudio-mercado.jpg" class="img-fluid img-thumbnail float-right float-left mx-auto  d-block">
</div>
    <div class=".col- .cols-sm- .col-md- .col-lg- .col-xl-"> maximo 12 columnas cada fila .col- Extra small .cols-sm- Small .col-md- Medium .col-lg- Large .col-xl- Extralarge

    </div>--->
</div>
</div> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aspirante">Administrador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Usuario">Aspirante</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/Matricula">Matricula</a>
      </li>
    </ul>

  </div>
</nav>
