{{>header}}


<center><h2>{{eliminarr identificador documento}}</h2></center>
<center><h1>Aspirantes al curso</h1></center>
<!---<table class="table table-striped">
<tr>
<th>Identificador del Curso</th>
<th>Documento</th>
</tr>
{{mostrarmatcursosid identificador documento}}

</table>--->
{{mostrarmatcursos3 identificador documento}}
<center><a href="/Aspirante">Volver</a></center>
{{>footer}}