{{>header}}
<p>
	bienvenido a la pagina de promedio estudiante
</p>

<!---El estudiante {{nombre}} con Cedula de ciudadania {{cedula}} se ha matriculado satisfactoriamente en el curso {{id}}--->
{{verificar id cedula nombre}}

</table>
{{>footer}}
