{{>header}}

<center><h2>{{crearmat identificador documento}}</h2></center>
<!---<table>
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>
{{mostrar}}

</table>--->
<center><a href="/matricula">Volver</a></center>
{{>footer}}