{{>header}}

<table class="table table-striped">
<!---<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>--->
{{mostrarcursosdisponiblesvermas id}}

</table>



{{>footer}}