{{>header}}
<p>
	bienvenido a la pagina de promedio estudiante
</p>

{{crearasp id nombre correo telefono}}
<!---<table>
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>
{{mostrar}}--->
  <a class="active" href="/matricula">Inscribirme</a>
</table>
{{>footer}}