{{>header}}
<p>
	bienvenido a la pagina de promedio estudiante
</p>

{{crearmat identificador documento}}
<!---<table>
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>
{{mostrar}}

</table>--->
{{>footer}}