{{>header}}


<center><h2>{{crearasp id nombre correo telefono}}</h2></center>


<!---<table>
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>
{{mostrar}}--->
 <center> <a class="active" href="/matricula">Inscribirme a un curso</a></center>
</table>

<center><a href="/Usuario">Volver</a></center>
{{>footer}}