{{>header}}

Ingrese el Identificador del curso de su interes para ver mas informacion
<div class="container">
  <form class="form-horizontal" action="/calculos5" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Identificador Del Curso:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="email" placeholder="Ingrese identificador del curso" name="id">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Ver mas</button>
      </div>
    </div>
  </form>
</div>

<!---<form action="/calculos5" method="post"><br>
	Identificador Del Curso: <input type="number" name="id" required="required" ><br>
	<button>Ver mas</button><br><br><br>
</form>--->
<h2>Cursos de educacion continua disponibles</h2>
<table class="table table-striped">
	<thead>
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Valor</th>


</tr>
</thead>
<tbody>
{{mostrarcursosdisponibles}}
</tbody>
</table>
<br>

{{>footer}}
