{{>header}}
<!---<form action="/calculos3" method="post"><br>
	Identificador del curso: <input type="number" name="identificador" required="required" ><br>
	Documento de identidad: <input type="number" name="documento" required="required" ><br>
<button>Guardar</button><br><br><br>
</form>--->

<center><h1>Registro de matricula</h1></center>
<div class="container">
<form action="/calculos3" method="post">
 <!--- <div class="form-group">
    <label for="identificador">Identificador Del Curso:</label>
    <input type="number" class="form-control" name="identificador" required="required" placeholder="Ingrese el identificador del curso">

  </div>--->
    <div class="form-group">
    <label for="identificador">Curso:</label>
    <!---<input type="number" class="form-control" name="identificador" required="required" placeholder="Ingrese el identificador del curso">--->
    <select name="identificador" class="form-control" > 
    {{mostrarcursosnombre2}}
    </select>
  </div>
  <div class="form-group">
    <label for="estado">Documento De Identidad:</label>
    <input type="number" class="form-control" name="documento" required="required" placeholder="Ingrese su documento de identidad">
  </div>

  <center><button type="submit" class="btn btn-default">Guardar</button></center>

</form>
</div>	
<br>
{{mostrarcursosdisponiblesvermas2}}
<!---
<table class="table table-striped">
<tr>
<th>Identificador del Curso</th>
<th>Nombre</th>
<th>Descripcion</th>
<th>Valor</th>
<th>Modalidad</th>
<th>Intensidad</th>
</tr>
{{mostrarcursosdisponiblesvermasno}}

</table>--->
{{>footer}}